---
import Background from '@components/Background.astro';
import GitHubLogo from '@logos/GitHubLogo.astro';
import { getI18N } from '@i18n/index';

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale });
---

<div class="presentation-card-container">
  <div id="presentation-card-atropos" class="atropos w-11/12 md:w-5/6 lg:w-3/4 xl:w-2/4 h-3/5 md:h-2/4 px-6 md:px-0">
    <div class="atropos-scale">
      <div class="atropos-rotate">
        <div class="atropos-inner rounded-2xl">
          <div class="background-content bg-base-200" data-atropos-offset="0">
            <Background class="background-content__svg" atroposoffset="-5" />
          </div>
          <div class="data-content backdrop-blur-sm" data-atropos-offset="0">
            <div data-atropos-offset="5" class="flex items-center justify-center md:justify-normal flex-col md:flex-row h-4/5 md:h-2/3 w-full p-4 md:p-8">
              <div class="mr-0 md:mr-8">
                <div class="avatar">
                  <div class="w-36 md:w-48 rounded-full ring-1 ring-gray-700/5 dark:ring-gray-200/5">
                    <img src={`${import.meta.env.BASE_URL}/perfil.jpg`} />
                  </div>
                </div>
              </div>
              <div class="mt-4 md:mt-0 text-center md:text-left">
                <h1 class="text-2xl md:text-4xl font-bold">MERINO JUAN</h1>
                <h3 class="text-lg md:text-2xl font-light">{i18n.PRESENTATION_CARD_POSITION}</h3>
                <div class="badge badge-ghost ring-1 ring-gray-700/5 dark:ring-gray-200/5 gap-3 px-3 py-4 mt-6">
                  <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="inline-block h-4 w-4 stroke-current"
                  >
                    <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                    <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                  </svg>
                  Córdoba, Argentina
                </div>
              </div>
            </div>
            <div data-atropos-offset="5" class="flex items-center justify-center md:justify-end h-1/5 md:h-1/3 w-full p-4 md:p-8">
              <a class="btn btn-circle btn-ghost m-2" href="mailto:juan.merino90@gmail.com">
                <svg class="w-6 md:w-8" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z" />
                  <path d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z" />
                </svg>
              </a>
              <a class="btn btn-circle btn-ghost m-2" href="https://github.com/merinojuan" target="_blank">
                <GitHubLogo class="w-6 md:w-8" />
              </a>
              <a class="btn btn-circle btn-ghost m-2" href="https://www.linkedin.com/in/merinojuan" target="_blank">
                <svg viewBox="0 0 128 128" class="w-4 md:w-6">
                  <path fill="currentColor" d="M116 3H12a8.91 8.91 0 00-9 8.8v104.42a8.91 8.91 0 009 8.78h104a8.93 8.93 0 009-8.81V11.77A8.93 8.93 0 00116 3zM39.17 107H21.06V48.73h18.11zm-9-66.21a10.5 10.5 0 1110.49-10.5 10.5 10.5 0 01-10.54 10.48zM107 107H88.89V78.65c0-6.75-.12-15.44-9.41-15.44s-10.87 7.36-10.87 15V107H50.53V48.73h17.36v8h.24c2.42-4.58 8.32-9.41 17.13-9.41C103.6 47.28 107 59.35 107 75z"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.presentation-card-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-content {
  position: relative;
  left: -5rem;
  top: -5rem;
  width: calc(100% + 10rem);
  height: calc(100% + 10rem);
}

.data-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
</style>
