---
import AtroposLogo from '@logos/AtroposLogo.astro';
import AstroLogo from '@logos/AstroLogo.astro';
import DaisyUILogo from '@logos/DaisyUILogo.astro';
import TailwindLogo from '@logos/TailwindLogo.astro';
import { getI18N } from '@i18n/index';

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale });
---

<div class="divider max-w-24 mx-auto py-16"></div>
<section class="max-w-4xl text-center align-middle mx-auto pb-16">
  <h1 class="text-sm pb-4">{i18n.TOOLS_TITLE}</h1>
  <div class="flex items-center justify-center min-h-24">
    <a class="p-3" target="_blank" href="https://astro.build">
      <!-- <AstroLogo class="h-6 hover:h-10 hover:px-4 transition-all duration-200" /> -->
      <AstroLogo class="h-6" />
    </a>
    <a class="p-3" target="_blank" href="https://daisyui.com">
      <DaisyUILogo class="h-6" />
    </a>
    <a class="p-3" target="_blank" href="https://tailwindcss.com">
      <TailwindLogo class="h-6" />
    </a>
    <a class="p-3" target="_blank" href="https://atroposjs.com">
      <AtroposLogo class="h-6" />
    </a>
  </div>
</section>
